NotificationContentExtension/bin
NotificationContentExtension/obj
NotificationServiceExtension/bin
NotificationServiceExtension/obj
SMXAMIOSTemplate/bin
SMXAMIOSTemplate/obj
.vs
SelligentMobileiOS/obj
mono_crash.*
